<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClashConnect: <%= clanName %></title>
</head>
<body>
    <h1><%= clanName %></h1>
    <h2>#<%= clanTag %></h2>
    <img src="<%= clanImg %>" alt="Clan Image">
    <p>Clan Level: <%= clanLevel %></p>
    <p>Clan Divisie: <%= clanDivisie %></p>
    <p>Vereiste Trofeeën: <%= requiredTrophies %></p>
    <p>Aantal spelers: <%= memberCount %></p>
    <p>Clan Beschrijving: <%= description %></p>
    <p>Clan Locatie: <%= location %></p>
    <p>Taal in de clan: <%= language %></p>
    <p>Type: <%= type %></p>

    <p>Leden: <%= membersString %></p>
    </body>
    </html>