<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profiel</title>
    <link rel="stylesheet" href="/styles/algemeen.css">
    <link rel="stylesheet" href="/styles/profile.css" />
  </head>

  
  <body>
    <%- include('header') %>
    
    <main>
      <section class="profileContainer">
        <h1>Profiel</h1>
        <section class="profileInfo">
          <img class="lazy-load"
            data-src="/images/barbaar.png"
            alt="Een foto van een karakter">
          <p><%= username %></p>
        </section>

          <section class="opgeslagen">
            <h2>Jouw opgeslagen clans</h2>

            <% if (error) { %>
              <label><%= error %></label>
            <% } %>


           
            <% if (favoriteClans.length > 0) { %>
              <ul>
                <% favoriteClans.forEach(clan => { %>
                  <li><%= clan %>
                    <form action="/removeClan" method="POST" style="display:inline;">
                      <input type="hidden" name="clanTag" value="<%= clan %>">
                      <button type="submit" class="remove-btn">Verwijderen</button>
                    </form>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <p>Je hebt nog geen clans opgeslagen.</p>
            <% } %>
          </section>
          
        </section>
        
        <section class="profileActions">
          <a href="/edit-profile" class="btn">Profiel bewerken</a>
          <form action="/logout" method="POST" style="display: inline;">
            <button type="submit" class="btn">Uitloggen</button>
          </form>
          
      </main>
    <script src="/javascript/lazyLoad.js"></script>
  </body>
</html>
